In [1]:
import pandas as pd
pd.__version__

'1.0.1'

In [3]:
import numpy as np
a = np.random.randn(5)
a

array([-0.15665928,  0.10324814,  0.43594914, -1.18401784, -0.11551784])

In [4]:
b = pd.Series(a)
b

0   -0.156659
1    0.103248
2    0.435949
3   -1.184018
4   -0.115518
dtype: float64

In [8]:
b = pd.Series(a, index = list("abcde"))
b

a   -0.156659
b    0.103248
c    0.435949
d   -1.184018
e   -0.115518
dtype: float64

In [9]:
b.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']), 'two':pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [13]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [14]:
df.columns

Index(['one', 'two'], dtype='object')

In [16]:
d = {'one': [1., 2., 3., 4.], 'two': [4., 3., 2., 1.]}
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'])
df

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [17]:
for i in range(5):
    print([np.linspace(i, 5*i, 5)])

[array([0., 0., 0., 0., 0.])]
[array([1., 2., 3., 4., 5.])]
[array([ 2.,  4.,  6.,  8., 10.])]
[array([ 3.,  6.,  9., 12., 15.])]
[array([ 4.,  8., 12., 16., 20.])]

In [19]:
f = np.random.randn(20).reshape(4,5)
df = pd.DataFrame(f, index = list("abcd"))
df

          0         1         2         3         4
a -1.334627  0.685109  0.378963 -1.508957 -1.474219
b -0.127458 -1.456724 -0.632139  0.833148 -0.832845
c  0.259961  0.591167 -1.096285 -1.880809 -0.381126
d -0.566805 -0.139745  1.099790  0.011418  0.170212

In [21]:
"""
df跟的第一个[],表示的是,取列;里面应该是列名'0',不是数字0;第二个是列,作为list,取值
"""
df[0][0]

-1.3346274268118514

In [24]:
df [[0]]

          0
a -1.334627
b -0.127458
c  0.259961
d -0.566805

In [25]:
df[[0,1]]

          0         1
a -1.334627  0.685109
b -0.127458 -1.456724
c  0.259961  0.591167
d -0.566805 -0.139745

In [29]:
df[0]

a   -1.334627
b   -0.127458
c    0.259961
d   -0.566805
Name: 0, dtype: float64

In [30]:
df['a']
"""
可以看到 df['a']报错.就是因为,先取列,再取值
"""

KeyError: 'a'

In [32]:
df[1]

a    0.685109
b   -1.456724
c    0.591167
d   -0.139745
Name: 1, dtype: float64

In [35]:
df

          0         1         2         3         4
a -1.334627  0.685109  0.378963 -1.508957 -1.474219
b -0.127458 -1.456724 -0.632139  0.833148 -0.832845
c  0.259961  0.591167 -1.096285 -1.880809 -0.381126
d -0.566805 -0.139745  1.099790  0.011418  0.170212

In [34]:
df.iloc[1]
"""
iloc是取行;
loc也可以取行
"""

0   -0.127458
1   -1.456724
2   -0.632139
3    0.833148
4   -0.832845
Name: b, dtype: float64

In [36]:
df.loc['a']

0   -1.334627
1    0.685109
2    0.378963
3   -1.508957
4   -1.474219
Name: a, dtype: float64

In [37]:
"""
访问某个特殊位置的元素的话， dataframe.at 和 dataframe.iat 是最快的方式
"""
df.at['a',1]

0.6851088151183398

In [38]:
"""
dataframe.ix 可以混合使用索引和下标进行访问， 唯一需要注意的地方是行列内部需要一致
目前该方法已经取消了
"""

AttributeError: 'DataFrame' object has no attribute 'ix'