In [3]:
import akshare as ak

In [60]:
# 深证的
sz_code_df = ak.stock_info_sz_name_code(symbol="A股列表")
sz_code_df.head(3)

   板块    A股代码   A股简称      A股上市日期           A股总股本          A股流通股本    所属行业
0  主板  000001   平安银行  1991-04-03  19,405,918,198  19,405,513,424   J 金融业
1  主板  000002  万  科Ａ  1991-01-29   9,724,196,533   9,716,935,865   K 房地产
2  主板  000004   国华网安  1990-12-01     132,380,282     126,288,093  I 信息技术

In [22]:
sz_code_df.head

[['board',
  'code',
  'name',
  'ipo_time',
  'sum_share',
  'fluent_share',
  'industry']]

In [61]:
import copy
sz_code_df2 = copy.deepcopy(sz_code_df)
sz_code_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2842 entries, 0 to 2841
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   板块      2842 non-null   object
 1   A股代码    2842 non-null   object
 2   A股简称    2842 non-null   object
 3   A股上市日期  2842 non-null   object
 4   A股总股本   2842 non-null   object
 5   A股流通股本  2842 non-null   object
 6   所属行业    2842 non-null   object
dtypes: object(7)
memory usage: 155.5+ KB

In [76]:
sz_code_df2.describe()

         sum_share  fluent_share
count  2842.000000   2842.000000
mean      9.252520      8.070203
std      17.958278     17.022742
min       0.400000      0.077021
25%       2.047890      1.397707
50%       4.644573      3.951517
75%       9.585137      8.532233
max     393.349861    393.349861

In [62]:
sz_code_df2.columns = ["board", "code","name","ipo_time","sum_share","fluent_share","industry"]
sz_code_df2[["sum_share"]]

           sum_share
0     19,405,918,198
1      9,724,196,533
2        132,380,282
3      1,058,536,842
4      1,349,995,046
...              ...
2837      72,000,000
2838     103,258,400
2839      44,260,000
2840      48,000,000
2841      51,360,000

[2842 rows x 1 columns]

In [77]:
sz_code_df2["code"] = sz_code_df2["code"].astype(float)
sz_code_df2.describe()

                code    sum_share  fluent_share
count    2842.000000  2842.000000   2842.000000
mean   142475.999296     9.252520      8.070203
std    149172.140202    17.958278     17.022742
min         1.000000     0.400000      0.077021
25%      2197.250000     2.047890      1.397707
50%      2954.000000     4.644573      3.951517
75%    300658.750000     9.585137      8.532233
max    301589.000000   393.349861    393.349861

In [63]:
sz_code_df2["fluent_share"] = sz_code_df2["fluent_share"].apply(lambda x: x.replace(",", '')).astype(float)
sz_code_df2["sum_share"] = sz_code_df2["sum_share"].apply(lambda x: x.replace(",", '')).astype(float)

In [64]:
sz_code_df2["sum_share"] = sz_code_df2["sum_share"]/100000000
sz_code_df2["fluent_share"] = sz_code_df2["fluent_share"]/100000000
sz_code_df2[["sum_share", "fluent_share"]]

       sum_share  fluent_share
0     194.059182    194.055134
1      97.241965     97.169359
2       1.323803      1.262881
3      10.585368     10.578757
4      13.499950     13.499874
...          ...           ...
2837    0.720000      0.180000
2838    1.032584      0.244875
2839    0.442600      0.110951
2840    0.480000      0.113788
2841    0.513600      0.077021

[2842 rows x 2 columns]

In [66]:
a = sz_code_df2["industry"][0]
len(a)

5

In [69]:
a[2:]

'金融业'

In [70]:
sz_code_df2["industry"] = sz_code_df2["industry"].apply(lambda x: x[2:])
sz_code_df2["industry"]

0        金融业
1        房地产
2       信息技术
3       公共环保
4        房地产
        ...
2837     制造业
2838     制造业
2839     制造业
2840     制造业
2841     制造业
Name: industry, Length: 2842, dtype: object

In [84]:
sz_code_df2["city"] = ["深圳" for i in range(len(sz_code_df2))]

In [85]:
sz_code_df2.head()

  board  code   name    ipo_time   sum_share  fluent_share industry city
0    主板   1.0   平安银行  1991-04-03  194.059182    194.055134      金融业   深圳
1    主板   2.0  万  科Ａ  1991-01-29   97.241965     97.169359      房地产   深圳
2    主板   4.0   国华网安  1990-12-01    1.323803      1.262881     信息技术   深圳
3    主板   5.0   ST星源  1990-12-10   10.585368     10.578757     公共环保   深圳
4    主板   6.0   深振业Ａ  1992-04-27   13.499950     13.499874      房地产   深圳

In [72]:
shanghai_main_df = ak.stock_info_sh_name_code(symbol="主板A股")
print(shanghai_main_df)

        证券代码  证券简称                公司全称        上市日期
0     600000  浦发银行      上海浦东发展银行股份有限公司  1999-11-10
1     600004  白云机场      广州白云国际机场股份有限公司  2003-04-28
2     600006  东风汽车          东风汽车股份有限公司  1999-07-27
3     600007  中国国贸      中国国际贸易中心股份有限公司  1999-03-12
4     600008  首创环保    北京首创生态环保集团股份有限公司  2000-04-27
...      ...   ...                 ...         ...
1691  605580  恒盛能源          恒盛能源股份有限公司  2021-08-19
1692  605588  冠石科技        南京冠石科技股份有限公司  2021-08-12
1693  605589  圣泉集团        济南圣泉集团股份有限公司  2021-08-10
1694  605598  上海港湾  上海港湾基础建设(集团)股份有限公司  2021-09-17
1695  605599  菜百股份       北京菜市口百货股份有限公司  2021-09-09

[1696 rows x 4 columns]

In [73]:
shanghai_main_df2 = copy.deepcopy(shanghai_main_df)
shanghai_main_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1696 entries, 0 to 1695
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   证券代码    1696 non-null   object
 1   证券简称    1696 non-null   object
 2   公司全称    1696 non-null   object
 3   上市日期    1696 non-null   object
dtypes: object(4)
memory usage: 53.1+ KB

In [74]:
shanghai_kc_df = ak.stock_info_sh_name_code(symbol="科创板")
print(shanghai_kc_df)

       证券代码  证券简称             公司全称        上市日期
0    688001  华兴源创   苏州华兴源创科技股份有限公司  2019-07-22
1    688002  睿创微纳   烟台睿创微纳技术股份有限公司  2019-07-22
2    688003  天准科技     苏州天准科技股份有限公司  2019-07-22
3    688004  博汇科技    北京市博汇科技股份有限公司  2020-06-12
4    688005  容百科技  宁波容百新能源科技股份有限公司  2019-07-22
..      ...   ...              ...         ...
564  688799  华纳药厂    湖南华纳大药厂股份有限公司  2021-07-13
565  688800   瑞可达  苏州瑞可达连接系统股份有限公司  2021-07-22
566  688819  天能股份     天能电池集团股份有限公司  2021-01-18
567  688981  中芯国际   中芯国际集成电路制造有限公司  2020-07-16
568  689009  九号公司           九号有限公司  2020-10-29

[569 rows x 4 columns]

In [75]:
shanghai_kc_df2 = copy.deepcopy(shanghai_kc_df)
shanghai_kc_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   证券代码    569 non-null    object
 1   证券简称    569 non-null    object
 2   公司全称    569 non-null    object
 3   上市日期    569 non-null    object
dtypes: object(4)
memory usage: 17.9+ KB

In [80]:
import pandas as pd
import numpy as np

In [86]:
shanghai_main_df2["板块"] = ["主板" for i in range(len(shanghai_main_df2))]
shanghai_kc_df2["板块"] = ["科创板" for i in range(len(shanghai_kc_df2))]

In [87]:
shanghai_df = pd.concat([shanghai_main_df2, shanghai_kc_df2], axis = 0)
shanghai_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2265 entries, 0 to 568
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   证券代码    2265 non-null   object
 1   证券简称    2265 non-null   object
 2   公司全称    2265 non-null   object
 3   上市日期    2265 non-null   object
 4   板块      2265 non-null   object
dtypes: object(5)
memory usage: 106.2+ KB

In [88]:
shanghai_df.head()

     证券代码  证券简称              公司全称        上市日期  板块
0  600000  浦发银行    上海浦东发展银行股份有限公司  1999-11-10  主板
1  600004  白云机场    广州白云国际机场股份有限公司  2003-04-28  主板
2  600006  东风汽车        东风汽车股份有限公司  1999-07-27  主板
3  600007  中国国贸    中国国际贸易中心股份有限公司  1999-03-12  主板
4  600008  首创环保  北京首创生态环保集团股份有限公司  2000-04-27  主板

In [90]:
shanghai_df.columns = ["code","name","full_name", "ipo_time","board"]
shanghai_df["city"] = ["上海"for i in range(len(shanghai_df))]
shanghai_df.head()

     code  name         full_name    ipo_time board city
0  600000  浦发银行    上海浦东发展银行股份有限公司  1999-11-10    主板   上海
1  600004  白云机场    广州白云国际机场股份有限公司  2003-04-28    主板   上海
2  600006  东风汽车        东风汽车股份有限公司  1999-07-27    主板   上海
3  600007  中国国贸    中国国际贸易中心股份有限公司  1999-03-12    主板   上海
4  600008  首创环保  北京首创生态环保集团股份有限公司  2000-04-27    主板   上海

In [91]:
shanghai_stocks = list(shanghai_df["code"])

In [92]:
shanghai_stocks[:10]

['600000',
 '600004',
 '600006',
 '600007',
 '600008',
 '600009',
 '600010',
 '600011',
 '600012',
 '600015']

In [93]:
eg = ak.stock_individual_info_em(symbol="600000")
eg

   item                value
0   总市值  214270890990.399994
1  流通市值  214270890990.399994
2    行业                   银行
3  上市时间             19991110
4  股票代码               600000
5  股票简称                 浦发银行
6   总股本        29352176848.0
7   流通股        29352176848.0

In [94]:
shanghai_sum_share = []
shanghai_fluent_share = []
shanghai_industry = []

In [95]:
eg["value"][2]

'银行'

In [97]:
eg["value"][6]

29352176848.0

In [98]:
# 上证的总股本,行业,需要通过东方财富的接口拿
for stock in shanghai_stocks:
    temp = ak.stock_individual_info_em(symbol=stock)
    shanghai_industry.append(temp["value"][2])
    shanghai_sum_share.append(temp["value"][6])
    shanghai_fluent_share.append(temp["value"][7])

In [101]:
shanghai_fluent_share[:10]

[29352176848.0,
 2366718283.0,
 2000000000.0,
 1007282534.0,
 7340590677.0,
 1926958448.0,
 31497121187.0,
 10997709919.0,
 1165600000.0,
 15387223983.0]

In [103]:
shanghai_df["industry"] = shanghai_industry
shanghai_df["sum_share"] = shanghai_sum_share
shanghai_df["fluent_share"] = shanghai_fluent_share
shanghai_df.head(3)

,code,name,full_name,ipo_time,board,city,industry,sum_share,fluent_share
0,600000,浦发银行,上海浦东发展银行股份有限公司,1999-11-10,主板,上海,银行,2.935218e+10,2.935218e+10
1,600004,白云机场,广州白云国际机场股份有限公司,2003-04-28,主板,上海,航空机场,2.366718e+09,2.366718e+09
2,600006,东风汽车,东风汽车股份有限公司,1999-07-27,主板,上海,汽车整车,2.000000e+09,2.000000e+09

In [108]:
shanghai_df["sum_share"] = shanghai_df["sum_share"]/100000000
shanghai_df["fluent_share"] = shanghai_df["fluent_share"]/100000000

In [109]:
shanghai_df.head()

,code,name,full_name,ipo_time,board,city,industry,sum_share,fluent_share
0,600000,浦发银行,上海浦东发展银行股份有限公司,1999-11-10,主板,上海,银行,293.521768,293.521768
1,600004,白云机场,广州白云国际机场股份有限公司,2003-04-28,主板,上海,航空机场,23.667183,23.667183
2,600006,东风汽车,东风汽车股份有限公司,1999-07-27,主板,上海,汽车整车,20.000000,20.000000
3,600007,中国国贸,中国国际贸易中心股份有限公司,1999-03-12,主板,上海,房地产开发,10.072825,10.072825
4,600008,首创环保,北京首创生态环保集团股份有限公司,2000-04-27,主板,上海,公用事业,73.405907,73.405907

In [104]:
shanghai_df.columns

Index(['code', 'name', 'full_name', 'ipo_time', 'board', 'city', 'industry',
       'sum_share', 'fluent_share'],
      dtype='object')

In [110]:
shanghai_df2 = shanghai_df[["board", "code", "name", "ipo_time", "sum_share", "fluent_share", "industry", "city"]]

In [111]:
shanghai_df2.head()

  board    code  name    ipo_time   sum_share  fluent_share industry city
0    主板  600000  浦发银行  1999-11-10  293.521768    293.521768       银行   上海
1    主板  600004  白云机场  2003-04-28   23.667183     23.667183     航空机场   上海
2    主板  600006  东风汽车  1999-07-27   20.000000     20.000000     汽车整车   上海
3    主板  600007  中国国贸  1999-03-12   10.072825     10.072825    房地产开发   上海
4    主板  600008  首创环保  2000-04-27   73.405907     73.405907     公用事业   上海

In [1]:
import akshare as ak
import pandas as pd
import numpy as np

C:\Users\yangsy-c\Anaconda3\lib\site-packages\akshare\__init__.py:2470: UserWarning: 为了支持更多特性，AKShare 将于 2023-07-01 停止对 Python 3.7 及以下版本的支持，请尽快升级 Python 版本
  "为了支持更多特性，AKShare 将于 2023-07-01 停止对 Python 3.7 及以下版本的支持，请尽快升级 Python 版本"

In [2]:

# 深证的
shenzhen_df = ak.stock_info_sz_name_code(symbol="A股列表")
shenzhen_df.columns = ["board", "code", "name", "ipo_time", "sum_share", "fluent_share", "industry"]
shenzhen_df["fluent_share"] = shenzhen_df["fluent_share"].apply(lambda x: x.replace(",", '')).astype(float)
shenzhen_df["sum_share"] = shenzhen_df["sum_share"].apply(lambda x: x.replace(",", '')).astype(float)
shenzhen_df["sum_share"] = shenzhen_df["sum_share"] / 100000000
shenzhen_df["fluent_share"] = shenzhen_df["fluent_share"] / 100000000

shenzhen_df["industry"] = shenzhen_df["industry"].apply(lambda x: x[2:])
shenzhen_df["city"] = ["深圳" for i in range(len(shenzhen_df))]

In [3]:
shenzhen_df.head()

  board    code   name    ipo_time   sum_share  fluent_share industry city
0    主板  000001   平安银行  1991-04-03  194.059182    194.055134      金融业   深圳
1    主板  000002  万  科Ａ  1991-01-29   97.241965     97.169359      房地产   深圳
2    主板  000004   国华网安  1990-12-01    1.323803      1.262881     信息技术   深圳
3    主板  000005   ST星源  1990-12-10   10.585368     10.578757     公共环保   深圳
4    主板  000006   深振业Ａ  1992-04-27   13.499950     13.499874      房地产   深圳

In [5]:
# 上证的,主板和科创板分开
shanghai_main_df = ak.stock_info_sh_name_code(symbol="主板A股")
shanghai_kc_df = ak.stock_info_sh_name_code(symbol="科创板")
shanghai_main_df["板块"] = ["主板" for i in range(len(shanghai_main_df))]
shanghai_kc_df["板块"] = ["科创板" for i in range(len(shanghai_kc_df))]

# 拼接
shanghai_df = pd.concat([shanghai_main_df, shanghai_kc_df], axis=0)
shanghai_df.columns = ["code", "name", "full_name", "ipo_time", "board"]
shanghai_df["city"] = ["上海" for i in range(len(shanghai_df))]

# 上证的总股本,行业,需要通过东方财富的接口拿
shanghai_stocks = list(shanghai_df["code"])
shanghai_sum_share = []
shanghai_fluent_share = []
shanghai_industry = []
for stock in shanghai_stocks:
    temp = ak.stock_individual_info_em(symbol=stock)
    shanghai_industry.append(temp["value"][2])
    shanghai_sum_share.append(temp["value"][6])
    shanghai_fluent_share.append(temp["value"][7])

# 拿到之后拼接处理
shanghai_df["industry"] = shanghai_industry
shanghai_df["sum_share"] = shanghai_sum_share
shanghai_df["fluent_share"] = shanghai_fluent_share
shanghai_df["sum_share"] = shanghai_df["sum_share"] / 100000000
shanghai_df["fluent_share"] = shanghai_df["fluent_share"] / 100000000

shanghai_df_res = shanghai_df[["board", "code", "name", "ipo_time", "sum_share", "fluent_share", "industry", "city"]]

In [6]:
shanghai_df_res.head()

  board    code  name    ipo_time   sum_share  fluent_share industry city
0    主板  600000  浦发银行  1999-11-10  293.521768    293.521768       银行   上海
1    主板  600004  白云机场  2003-04-28   23.667183     23.667183     航空机场   上海
2    主板  600006  东风汽车  1999-07-27   20.000000     20.000000     汽车整车   上海
3    主板  600007  中国国贸  1999-03-12   10.072825     10.072825    房地产开发   上海
4    主板  600008  首创环保  2000-04-27   73.405907     73.405907     公用事业   上海

In [7]:
shanghai_df_res = shanghai_df[["board", "code", "name", "ipo_time", "sum_share", "fluent_share", "industry", "city"]]

df = pd.concat([shenzhen_df, shanghai_df_res], axis=0)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5107 entries, 0 to 568
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   board         5107 non-null   object
 1   code          5107 non-null   object
 2   name          5107 non-null   object
 3   ipo_time      5107 non-null   object
 4   sum_share     5107 non-null   float64
 5   fluent_share  5107 non-null   float64
 6   industry      5107 non-null   object
 7   city          5107 non-null   object
dtypes: float64(2), object(6)
memory usage: 359.1+ KB

In [9]:
df.head()

  board    code   name    ipo_time   sum_share  fluent_share industry city
0    主板  000001   平安银行  1991-04-03  194.059182    194.055134      金融业   深圳
1    主板  000002  万  科Ａ  1991-01-29   97.241965     97.169359      房地产   深圳
2    主板  000004   国华网安  1990-12-01    1.323803      1.262881     信息技术   深圳
3    主板  000005   ST星源  1990-12-10   10.585368     10.578757     公共环保   深圳
4    主板  000006   深振业Ａ  1992-04-27   13.499950     13.499874      房地产   深圳

In [ ]:
import akshare as ak
import pandas as pd
import numpy as np
import random,time

def getStocksInfo():
    # 深证的
    shenzhen_df = ak.stock_info_sz_name_code(symbol="A股列表")
    shenzhen_df.columns = ["board", "code", "name", "ipo_time", "sum_share", "fluent_share", "industry"]
    shenzhen_df["fluent_share"] = shenzhen_df["fluent_share"].apply(lambda x: x.replace(",", '')).astype(float)
    shenzhen_df["sum_share"] = shenzhen_df["sum_share"].apply(lambda x: x.replace(",", '')).astype(float)
    shenzhen_df["sum_share"] = shenzhen_df["sum_share"] / 100000000
    shenzhen_df["fluent_share"] = shenzhen_df["fluent_share"] / 100000000

    shenzhen_df["industry"] = shenzhen_df["industry"].apply(lambda x: x[2:])
    shenzhen_df["city"] = ["深圳" for i in range(len(shenzhen_df))]

    # 上证的,主板和科创板分开
    shanghai_main_df = ak.stock_info_sh_name_code(symbol="主板A股")
    shanghai_kc_df = ak.stock_info_sh_name_code(symbol="科创板")
    shanghai_main_df["板块"] = ["主板" for i in range(len(shanghai_main_df))]
    shanghai_kc_df["板块"] = ["科创板" for i in range(len(shanghai_kc_df))]

    # 拼接
    shanghai_df = pd.concat([shanghai_main_df, shanghai_kc_df], axis=0)

    shanghai_df.columns = ["code", "name", "full_name", "ipo_time", "board"]
    shanghai_df["city"] = ["上海" for i in range(len(shanghai_df))]

    # 上证的总股本,行业,需要通过东方财富的接口拿
    shanghai_stocks = list(shanghai_df["code"])
    shanghai_sum_share = []
    shanghai_fluent_share = []
    shanghai_industry = []

    for stock in shanghai_stocks:
        sleeptime=random.randint(1, 100)
        time.sleep(sleeptime/1000)
        temp = ak.stock_individual_info_em(symbol=stock)
        shanghai_industry.append(temp["value"][2])
        shanghai_sum_share.append(temp["value"][6])
        shanghai_fluent_share.append(temp["value"][7])

    # 拿到之后拼接处理
    shanghai_df["industry"] = shanghai_industry
    shanghai_df["sum_share"] = shanghai_sum_share
    shanghai_df["fluent_share"] = shanghai_fluent_share
    shanghai_df["sum_share"] = shanghai_df["sum_share"] / 100000000
    shanghai_df["fluent_share"] = shanghai_df["fluent_share"] / 100000000

    shanghai_df_res = shanghai_df[["board", "code", "name", "ipo_time", "sum_share", "fluent_share", "industry", "city"]]

    df = pd.concat([shenzhen_df, shanghai_df_res], axis=0)
    df = [["code", "name", "ipo_time", "sum_share", "fluent_share", "industry", "city", "board"]]
    return df

In [ ]:
df = getStocksInfo()

In [1]:
import time
import random

import akshare as ak
import pandas as pd
import numpy as np

C:\Users\yangsy-c\Anaconda3\lib\site-packages\akshare\__init__.py:2470: UserWarning: 为了支持更多特性，AKShare 将于 2023-07-01 停止对 Python 3.7 及以下版本的支持，请尽快升级 Python 版本
  "为了支持更多特性，AKShare 将于 2023-07-01 停止对 Python 3.7 及以下版本的支持，请尽快升级 Python 版本"

In [2]:
def getShenzhen():
    # 深证的
    shenzhen_df = ak.stock_info_sz_name_code(symbol="A股列表")
    shenzhen_df.columns = ["board", "code", "name", "ipo_time", "sum_share", "fluent_share", "industry"]
    shenzhen_df["fluent_share"] = shenzhen_df["fluent_share"].apply(lambda x: x.replace(",", '')).astype(float)
    shenzhen_df["sum_share"] = shenzhen_df["sum_share"].apply(lambda x: x.replace(",", '')).astype(float)
    shenzhen_df["sum_share"] = shenzhen_df["sum_share"] / 100000000
    shenzhen_df["fluent_share"] = shenzhen_df["fluent_share"] / 100000000

    shenzhen_df["industry"] = shenzhen_df["industry"].apply(lambda x: x[2:])
    shenzhen_df["city"] = ["深圳" for i in range(len(shenzhen_df))]
    return shenzhen_df

In [3]:
shenzhen_df = getShenzhen()

In [4]:
shenzhen_df.head()

  board    code   name    ipo_time   sum_share  fluent_share industry city
0    主板  000001   平安银行  1991-04-03  194.059182    194.055134      金融业   深圳
1    主板  000002  万  科Ａ  1991-01-29   97.241965     97.169359      房地产   深圳
2    主板  000004   国华网安  1990-12-01    1.323803      1.262881     信息技术   深圳
3    主板  000005   ST星源  1990-12-10   10.585368     10.578757     公共环保   深圳
4    主板  000006   深振业Ａ  1992-04-27   13.499950     13.499874      房地产   深圳

In [6]:
shenzhen_df[shenzhen_df["ipo_time"]>"2024-01-01"]

     board    code   name    ipo_time  sum_share  fluent_share industry city
513     主板  001379   腾达科技  2024-01-19   2.000000      0.489981      制造业   深圳
515     主板  001387   雪祺电气  2024-01-11   1.367600      0.335056      制造业   深圳
2811   创业板  301502   华阳智能  2024-02-02   0.570835      0.135321      制造业   深圳
2837   创业板  301567   贝隆精密  2024-01-16   0.720000      0.180000      制造业   深圳
2839   创业板  301577   美信科技  2024-01-24   0.442600      0.110951      制造业   深圳
2841   创业板  301589  C诺瓦星云  2024-02-08   0.513600      0.077021      制造业   深圳

In [8]:
def getShanghai():
    # 上证的,主板和科创板分开
    shanghai_main_df = ak.stock_info_sh_name_code(symbol="主板A股")
    shanghai_kc_df = ak.stock_info_sh_name_code(symbol="科创板")
    shanghai_main_df["板块"] = ["主板" for i in range(len(shanghai_main_df))]
    shanghai_kc_df["板块"] = ["科创板" for i in range(len(shanghai_kc_df))]

    # 拼接
    shanghai_df = pd.concat([shanghai_main_df, shanghai_kc_df], axis=0)

    shanghai_df.columns = ["code", "name", "full_name", "ipo_time", "board"]
    shanghai_df["city"] = ["上海" for i in range(len(shanghai_df))]
    
    return shanghai_df

In [9]:
shanghai_df = getShanghai()

In [10]:
shanghai_df.head()

     code  name         full_name    ipo_time board city
0  600000  浦发银行    上海浦东发展银行股份有限公司  1999-11-10    主板   上海
1  600004  白云机场    广州白云国际机场股份有限公司  2003-04-28    主板   上海
2  600006  东风汽车        东风汽车股份有限公司  1999-07-27    主板   上海
3  600007  中国国贸    中国国际贸易中心股份有限公司  1999-03-12    主板   上海
4  600008  首创环保  北京首创生态环保集团股份有限公司  2000-04-27    主板   上海